.catalogo-container {
  padding: 40px 20px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: white;
  min-height: 100vh;
}

.titulo-catalogo {
  font-size: 3rem;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.titulo-catalogo .icon {
  font-size: 2.5rem;
}


.search-bar {
  margin-bottom: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.search-bar input:focus{
  border-color: #007bff;
  outline:none;
}

.search-bar button{
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: black 0.2s ease ;
}

.search-bar select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 35px 10px 15px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: white;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23000' d='M2 0L0 2h4L2 0zM2 5L0 3h4l-2 2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.search-bar select:focus{
  background-color: #bad4f0;
  outline: none;
}

.search-bar button:hover{
  background-color: #000000;
  transform: translateY(-1px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.filters {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.filters div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filters label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filters select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
}

.filmes-list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.filme-card{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filme-card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.search-bar button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.filmes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.filme-card {
  width: 200px;
  min-height: 250px;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;

}
.filme-card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.filme-card img {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #e5e1e1;
}
