<div class="sobre-container">

  <h1>Sobre o site Catálogo de Filmes</h1>
  <p>
    Bem-vindos ao <strong>Catálogo de Filmes</strong>, sua plataforma para explorar e decobrir filmes incrivéis! Nosso obejtivo é proporcionar uma experiência simples e interativa para amantes de cinema que desejam encontrar informações detalhadas sobre seus filmes favoritos.
  </p>
  <p>
    Aqui, você pode:
  </p>
  <ul>
    <li>Explorar uma vasta lista de filmes com detalhes como sinopse, elenco, diretor e mais.</li>
    <li>Assitir a trailers diretamente na página de detalhes</li>
    <li>Curtir seus filmes favoritos e ver quantas pessoas também gostaram.</li>
    <li>Receber recomendações personalizadas para decobrir novos filmes.</li>
  </ul>
  <p>Nosso site foi criado com paixão pelo cinema e tecnologia, utilizando Angular para o frontend e Spring Boot para o backend. Estamos constantemente adicionando novas funcionalidades para melhorar a sua experiência</p>
  <p>
    Se tiver sugestões ou feedback, entre em contato conosco pelo e-mail: <a href="mailto:contato@catalogo-filmes.com">contato.com</a>
  </p>
  <button class="voltar-button" (click)="voltar()"> ← Voltar</button>
</div>
